{
  "presets":[
    ["@babel/preset-env",{
        "targets":{
          "browsers":[">1%","last 2 versions"],
          // node:'10',
          // chrome:'59'
        }
      }]
    ],
    "plugins":[
      ["@babel/transform-runtime"]
    ]
}