body {
  font-size: 20px;
}
:global .colorblue {
  color:blue
}

.div1 {
  width: 50px;
  height: 50px;
  background-color: pink;
  /* composes:colorblue; 继承其他类 */
  /* composes: div from 'test.css';  继承其他类 */

}
/* .colorblue {
  color:blue
} */

:global .img1 {
  height: 100px;
  background: url('./assets/img/a.webp.png');
  // background: url('~sprite.png');
}
:global .img2 {
  height: 100px;
  background: url('./assets/img/b.jpg');
  // background: url('~sprite.png');
}
:global .img3 {
  height: 100px;
  background: url('./assets/img/c.jpg');
  // background: url('~sprite.png');
}